@font-face {
  font-family: Pretendard;
  font-weight: 200;
  font-display: fallback;
  src: url("/fonts/Pretendard-Light.subset.woff2") format("woff2");
}

@font-face {
  font-family: Pretendard;
  font-weight: 300;
  font-display: fallback;
  src: url("/fonts/Pretendard-Regular.subset.woff2") format("woff2");
}

@font-face {
  font-family: Pretendard;
  font-weight: 400;
  font-display: fallback;
  src: url("/fonts/Pretendard-Medium.subset.woff2") format("woff2");
}

@font-face {
  font-family: Pretendard;
  font-weight: 500;
  font-display: fallback;
  src: url("/fonts/Pretendard-SemiBold.subset.woff2") format("woff2");
}

@font-face {
  font-family: Pretendard;
  font-weight: 600;
  font-display: fallback;
  src: url("/fonts/Pretendard-Bold.subset.woff2") format("woff2");
}

@font-face {
  font-family: Pretendard;
  font-weight: 700;
  font-display: fallback;
  src: url("/fonts/Pretendard-ExtraBold.subset.woff2") format("woff2");
}

@font-face {
  font-family: Pretendard;
  font-weight: 800;
  font-display: fallback;
  src: url("/fonts/Pretendard-Black.subset.woff2") format("woff2");
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: Pretendard, sans-serif;
  font-weight: 300;
  overflow-x: hidden;
  position: relative;
  box-sizing: border-box !important;
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;

  #profile {
    scroll-margin: 76px;
  }
}
::-webkit-scrollbar {
  display: none !important;
}

em {
  font-style: normal;
}

.main-carousel .slick-track {
  display: flex;
  flex-wrap: wrap;
  width: 100svw;
  /* height: 100svh; */
}
p {
  margin: 0;
}

.react-horizontal-scrolling-menu--wrapper {
  display: flex;
  flex-direction: row !important;
}

.react-horizontal-scrolling-menu--footer,
.react-horizontal-scrolling-menu--header {
  display: none;
}

.react-horizontal-scrolling-menu--inner-wrapper {
  overflow-y: scroll !important;
}

#blogs h3 {
  margin: 0;
  font-size: 17px;
  font-weight: 400;
}
